.box{
    width: 100px;
    height: 100px;
    background-color: #CFC;
}
.highlight{
    background-color:#fcc ;
}
.box-button{
    width: 100px;
    height: 20px;
    background-color:#ccf;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}