/* .box{
    width: 100px;
    height: 100px;
    background-color: #CFC;
}
.highlight{
    background-color:#fcc ;
}
.box-button{
    width: 100px;
    height: 20px;
    background-color:#ccf;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
} */
body{
    background-color: #EEE;
}

#container{
background-color: #FFF;
padding: 20px;
height:100%;
margin: 0 auto;
align-items: center;
}

.item{
    width: 200px;
    background-color: #DDD;
    padding: 8px;
    float: left;
    margin: 4px;
}
#cart-container{
    width: 95%;
    background-color: #000;
    padding: 12px;
    margin: 12px;
    color: #fff;
}
.item img{
    width:100%;
}
.item .name{
    font-size: 24px;
}
.item .price{
    margin-top: 8px;
    margin-bottom: 8px;
}

.item .more-info{
    display: none;
}

#news-letter-freq{
    display: none;
}

#user-data{
    margin-left: 10rem;
}
input,select{
    margin-bottom: 1rem;
    padding: 0.2rem;
    width: 10rem;
    font-size: 0.8rem;
}
button{
    margin-bottom: 1rem;
    padding: 0.2rem;
    width: 5rem;
}

#feedback-message{
    margin-bottom: 1rem;
    color: green;
}